.home_img{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.para_anime::after{
    content: "";
    animation: text_anime 5s infinite;
}

.para_anime{
    font-size: 72px;
}

.logos{
    font-size: 14px;
    width: 22%;
}



@media screen and (max-width: 600px) {
    .logos{
        font-size: 14px;
        width: 80%;
    }


    .para_anime{
        font-size: 50px;
    }
}